<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_Trustev>
            <version>0.0.4</version>
        </Mediotype_Trustev>
    </modules>
    <global>
        <blocks>
            <mediotype_trustev>
                <class>Mediotype_Trustev_Block</class>
            </mediotype_trustev>
        </blocks>
        <helpers>
            <mediotype_trustev>
                <class>Mediotype_Trustev_Helper</class>
            </mediotype_trustev>
        </helpers>
        <models>
            <mediotype_trustev>
                <class>Mediotype_Trustev_Model</class>
                <resourceModel>mediotype_trustev_resource</resourceModel>
            </mediotype_trustev>
            <mediotype_trustev_resource>
                <class>Mediotype_Trustev_Model_Resource</class>
                <entities>
                    <case>
                        <table>mediotype_trustev_case</table>
                    </case>
                    <status_type>
                        <table>mediotype_trustev_status_type</table>
                    </status_type>
                    <payment_type>
                        <table>mediotype_trustev_payment_type</table>
                    </payment_type>
                    <webhook_log>
                        <table>mediotype_trustev_webhook_log</table>
                    </webhook_log>
                </entities>
            </mediotype_trustev_resource>
        </models>
        <resources>
            <mediotype_trustev_setup>
                <setup>
                    <module>Mediotype_Trustev</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </mediotype_trustev_setup>
        </resources>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <mediotype_trustev>
                        <type>singleton</type>
                        <class>Mediotype_Trustev_Model_Observer</class>
                        <method>parseBinSaveValue</method>
                    </mediotype_trustev>
                </observers>
            </sales_quote_payment_import_data_before>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <mediotype_trustev>
                        <type>singleton</type>
                        <class>Mediotype_Trustev_Model_Observer</class>
                        <method>postCaseAfterSaveOrder</method>
                    </mediotype_trustev>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_order_save_before>
                <observers>
                    <mediotype_trustev>
                        <type>singleton</type>
                        <class>Mediotype_Trustev_Model_Observer</class>
                        <method>checkStatusUpdate</method>
                    </mediotype_trustev>
                </observers>
            </sales_order_save_before>
        </events>
        <fieldsets>
            <sales_convert_order_payment>
                <cc_bin>
                    <to_quote_payment>*</to_quote_payment>
                </cc_bin>
            </sales_convert_order_payment>
            <sales_convert_quote_payment>
                <cc_bin>
                    <to_order_payment>*</to_order_payment>
                </cc_bin>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mediotype_trustev>
                    <file>mediotype/trustev/trustev.xml</file>
                </mediotype_trustev>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <Mediotype_Trustev>
                <use>admin</use>
                <args>
                    <module>Mediotype_Trustev</module>
                    <frontName>trustev</frontName>
                </args>
            </Mediotype_Trustev>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <mediotype_trustev>
                    <file>mediotype/trustev/trustev.xml</file>
                </mediotype_trustev>
            </updates>
        </layout>
        <routers>
            <trustev>
                <use>standard</use>
                <args>
                    <module>Mediotype_Trustev</module>
                    <frontName>trustev</frontName>
                </args>
            </trustev>
        </routers>
    </frontend>
    <default>
        <mediotype_trustev>
            <general>
                <enabled>0</enabled>
                <test_mode>1</test_mode>
            </general>
        </mediotype_trustev>
    </default>
</config>